body {
  background-image: url("../images/palm-leaf.png");
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar.navbar-default{
  height: 50px;
}

.nav-left {
  float: left;
}

.navbar-header {
  background-color: #4aaaa5;
  width: 200px;
  text-align: center;
  height: 50px;
  padding: 5px;
  float: left;
  margin-left: 200px;
  /* box-sizing: border-box; */
}

.navbar-header h4{
  color: #ffffff;
  text-align: center;
}
/* .nav-bg {
  color: white;
  background-color: #4aaaa5;
  text-align: center;
  padding: 10px;
} */

.navbar-right {
  /* padding-right: 10px; */
  float: right;
}

.nav-rightmost{
  padding-right: 100px;
}

.col-md-8 {
  background-color: #ffffff;
}

.col-md-8 hr{
  height: 3px;
  background: #777777;
}

.col-md-8 h2{
  color: #4aaaa5;
}

.col-md-8 img{
  float: left;
  padding: 5px;
  width: 150px;
  height: 120px;
}

hr {
  height: 20px;
}

.footer {
  background-color: #666666;
  bottom: 0;
  height: 50px;
  position: fixed;
  width: 100%;
}

.footer h6{
  color: #cccccc;
  padding-top: 10px;
}
